*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --clr-primary-blue: hsl(231, 69%, 60%);
  --clr-primary-red: hsl(0, 94%, 66%);
  --clr-neutral-gr-blue: hsl(229, 8%, 60%);
  --clr-neutral-dark-blue: hsl(229, 31%, 21%);
  --ff-primary: "Rubik", sans-serif;
  --fs-text: 0.9rem;
  --fs-heading: 1.46rem;
  --fw-regular: 400;
  --fw-medium: 500;
}

@media (min-width: 61.875em) {
  :root {
    --fs-text: 1.125rem;
    --fs-heading: 2.02rem;
  }
}
@media (min-width: 61.875em) {
  header .nav__link {
    font-family: var(--ff-primary);
    font-size: 0.78rem;
    font-weight: var(--fw-medium);
    color: var(--clr-neutral-dark-blue);
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
  }
}
header .nav__link:hover, header .nav__link:focus {
  color: var(--clr-primary-red);
}
header .nav .btn {
  padding: 0.55rem 1.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 4px 0.3rem 0 rgba(0, 0, 0, 0.247);
}
header .nav .btn--red {
  background-color: var(--clr-primary-red);
  color: #fff;
  border: 2px solid var(--clr-primary-red);
}
header .nav .btn--red:hover {
  background-color: #fff;
  color: var(--clr-primary-red);
}
header .header-row .col-text {
  text-align: center;
}
header .header-row .col-text h1 {
  font-family: var(--ff-primary);
  font-size: 1.68rem;
  font-weight: 700;
  color: var(--clr-neutral-dark-blue);
  line-height: 1.4;
  margin-bottom: 1rem;
}
@media (min-width: 61.875em) {
  header .header-row .col-text h1 {
    font-family: var(--ff-primary);
    font-size: 2.8125rem;
    font-weight: 700;
    line-height: 1.2;
  }
}
header .header-row .col-text p {
  font-family: var(--ff-primary);
  font-size: 1rem;
  font-weight: var(--ff-primary);
  color: var(--clr-neutral-gr-blue);
  line-height: 1.5;
  margin-bottom: 2rem;
}
@media (min-width: 61.875em) {
  header .header-row .col-text {
    text-align: left;
  }
}
header .header-row .col-text__links {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 61.875em) {
  header .header-row .col-text__links {
    justify-content: flex-start;
  }
}
header .header-row .col-text .btn {
  padding: 0.55rem 1.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 4px 0.3rem 0 rgba(0, 0, 0, 0.247);
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 1rem;
  display: block;
  font-family: var(--ff-primary);
  font-size: var(--fs-text);
  font-weight: var(--fw-medium);
}
header .header-row .col-text .btn--blue {
  background-color: var(--clr-primary-blue);
  color: #fff;
  border: 2px solid var(--clr-primary-blue);
}
header .header-row .col-text .btn--blue:hover, header .header-row .col-text .btn--blue:focus {
  background-color: #fff;
  color: var(--clr-primary-blue);
}
header .header-row .col-text .btn--white {
  background-color: hsla(165, 17%, 95%, 0.664);
  color: var(--clr-neutral-dark-blue);
  border: 2px solid hsla(165, 17%, 95%, 0.664);
}
header .header-row .col-text .btn--white:hover, header .header-row .col-text .btn--white:focus {
  background-color: #fff;
  color: var(--clr-neutral-dark-blue);
  border: 2px solid var(--clr-neutral-dark-blue);
}

.btn {
  font-family: var(--ff-primary);
  font-size: var(--fs-text);
  font-weight: var(--fw-regular);
  padding: 0.6rem 1.2rem;
  border-radius: 0.3rem;
  text-decoration: none;
  transition: 0.5s;
}
.btn--blue {
  color: hsl(0, 0%, 100%);
  background: hsl(231, 69%, 60%);
  border: 2px solid hsl(231, 69%, 60%);
}
.btn--blue:hover {
  color: hsl(231, 69%, 60%);
  background: hsl(0, 0%, 100%);
}

.mobile-nav nav {
  text-align: center;
}
.mobile-nav nav .nav:nth-child(1) {
  list-style-type: none;
}
.mobile-nav nav .nav:nth-child(1) .nav__link {
  font-family: var(--ff-primary);
  font-size: 1.2rem;
  font-weight: var(--fw-regular);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.mobile-nav nav .nav:nth-child(1) .nav__item:nth-child(4) .nav__link {
  border: 2px solid #fff;
  padding: 0.675rem 6.1875rem;
}
.mobile-nav nav .nav:nth-child(2) {
  list-style-type: none;
}

.features h2 {
  font-family: var(--ff-primary);
  font-size: var(--fs-heading);
  font-weight: 700;
  color: var(--clr-neutral-dark-blue);
  margin-bottom: 0.7rem;
  text-align: center;
}
.features p {
  font-family: var(--ff-primary);
  font-size: var(--fs-text);
  font-weight: var(--fs-regular);
  color: var(--clr-neutral-gr-blue);
  line-height: 1.5;
  text-align: center;
  margin-bottom: 2rem;
}
.features .features-controller .control {
  color: var(--clr-neutral-dark-blue);
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 0.5s;
  border-bottom: 1px solid hsla(229, 8%, 60%, 0.308);
  margin-bottom: 0;
}
.features .features-controller .control:hover {
  color: hsl(0, 94%, 66%);
}
.features .features-tab .col-text h3 {
  font-family: var(--ff-primary);
  font-size: var(--fs-heading);
  font-weight: 700;
  color: var(--clr-neutral-dark-blue);
  margin-bottom: 0.7rem;
}
.features .features-tab .col-text p {
  font-family: var(--ff-primary);
  font-size: var(--fs-text);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-gr-blue);
  margin-bottom: 2rem;
  line-height: 1.7;
}
@media (min-width: 61.875em) {
  .features .features-tab .col-text p {
    text-align: left;
  }
}

.download h2 {
  font-family: var(--ff-primary);
  font-size: var(--fs-heading);
  font-weight: 700;
  color: var(--clr-neutral-dark-blue);
  margin-bottom: 0.7rem;
  text-align: center;
}
.download p {
  font-family: var(--ff-primary);
  font-size: var(--fs-text);
  font-weight: var(--fs-regular);
  color: var(--clr-neutral-gr-blue);
  line-height: 1.5;
  text-align: center;
  margin-bottom: 2rem;
}
.download .download-row img {
  margin-bottom: 1.5rem;
}
.download .download-row h3 {
  font-family: var(--ff-primary);
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--clr-neutral-dark-blue);
  margin-bottom: 0.7rem;
}
@media (min-width: 61.875em) {
  .download .download-row h3 {
    font-family: var(--ff-primary);
    font-size: 1.2rem;
    font-weight: 700;
  }
}
.download .download-row p {
  font-family: var(--ff-primary);
  font-size: var(--fs-text);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-gr-blue);
  margin-bottom: 2rem;
  line-height: 1.7;
}
@media (min-width: 61.875em) {
  .download .download-row p {
    text-align: left;
  }
}
.download .download-row hr {
  margin: 2rem 0 1.5rem;
  border: 0;
  border-bottom: 4px dotted hsl(229, 8%, 60%);
}

.faq h2 {
  font-family: var(--ff-primary);
  font-size: var(--fs-heading);
  font-weight: 700;
  color: var(--clr-neutral-dark-blue);
  margin-bottom: 0.7rem;
}
.faq p {
  font-family: var(--ff-primary);
  font-size: var(--fs-text);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-gr-blue);
  line-height: 1.6;
}
@media (min-width: 61.875em) {
  .faq p {
    line-height: 1.3;
  }
}
.faq .banner .text p {
  font-family: var(--ff-primary);
  font-size: var(--fs-text);
  font-weight: var(--fw-medium);
  color: var(--clr-dark-gr-blue);
}
.faq .banner .drop-down-text p {
  font-family: var(--ff-primary);
  font-size: var(--fs-text);
  font-weight: var(--fw-regular);
  color: var(--clr-dark-gr-blue);
  text-align: left;
  padding: 1rem 0 0;
  line-height: 1.6;
}
@media (min-width: 61.875em) {
  .faq .banner .drop-down-text p {
    padding: 1.5rem 0 0.5rem;
  }
}

header {
  padding: 2.25rem 1.68rem;
  min-height: 100vh;
}
@media (min-width: 61.875em) {
  header {
    padding: 2.25rem 7.875rem;
  }
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav .logo-bookmark {
  position: relative;
  z-index: 1000;
}
header nav .nav {
  display: none;
}
@media (min-width: 61.875em) {
  header nav .nav {
    list-style-type: none;
    display: flex;
  }
}
header nav .nav__item {
  margin-left: 2.25rem;
}
header nav .mobile-menu {
  display: block;
  z-index: 1000;
  position: relative;
}
@media (min-width: 61.875em) {
  header nav .mobile-menu {
    display: none;
  }
}
header .header-row {
  margin-top: 2.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 61.875em) {
  header .header-row {
    flex-direction: row;
  }
}
header .header-row .col-text {
  order: 2;
  flex-basis: 100%;
  margin-top: 1.6875rem;
}
@media (min-width: 61.875em) {
  header .header-row .col-text {
    order: 1;
    flex-basis: 50%;
  }
}
header .header-row .col-img {
  order: 1;
  display: flex;
  align-items: center;
  flex-basis: 100%;
  position: relative;
}
header .header-row .col-img img {
  display: block;
  width: 100%;
}
@media (min-width: 61.875em) {
  header .header-row .col-img img {
    width: auto;
  }
}
@media (min-width: 61.875em) {
  header .header-row .col-img {
    order: 2;
    flex-basis: 50%;
    justify-content: flex-end;
  }
}
header .header-row .col-img::after {
  content: "";
  position: absolute;
  background: hsl(231, 69%, 60%);
  z-index: -1;
  border-top-left-radius: 30% 50%;
  border-bottom-left-radius: 30% 50%;
  right: -10rem;
  bottom: 0rem;
  width: 100%;
  height: 70%;
}
@media (min-width: 61.875em) {
  header .header-row .col-img::after {
    right: -10rem;
    bottom: -2rem;
  }
}

.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(229, 31%, 21%, 0.945);
  z-index: 5;
  display: none;
}
@media (min-width: 61.875em) {
  .mobile-nav {
    display: none;
  }
}
.mobile-nav nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-nav nav .nav:nth-child(1) {
  margin-top: 6.75rem;
}
.mobile-nav nav .nav:nth-child(1) .nav__item {
  margin-bottom: 2.25rem;
}
.mobile-nav nav .nav:nth-child(2) {
  margin-top: 6.75rem;
  display: flex;
}
.mobile-nav nav .nav:nth-child(2) .nav__item {
  margin: 0 1.125rem;
}

.features {
  padding: 2.25rem 1.68rem;
  min-height: 100vh;
  position: relative;
}
@media (min-width: 61.875em) {
  .features {
    padding: 2.25rem 7.875rem;
  }
}
.features .features-controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
@media (min-width: 61.875em) {
  .features .features-controller {
    flex-direction: row;
  }
}
.features .features-controller .control {
  position: relative;
}
.features .features-controller .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  background: hsl(0, 94%, 66%);
}
.features .features-tab {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
@media (min-width: 61.875em) {
  .features .features-tab {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 2rem;
  }
}
.features .features-tab .col-img {
  position: relative;
  flex-basis: 100%;
  margin-bottom: 5rem;
}
@media (min-width: 61.875em) {
  .features .features-tab .col-img {
    flex-basis: 50%;
  }
}
.features .features-tab .col-img img {
  width: 100%;
}
@media (min-width: 61.875em) {
  .features .features-tab .col-img img {
    width: auto;
    max-width: 100%;
    height: auto;
  }
}
.features .features-tab .col-text {
  flex-basis: 100%;
  text-align: center;
}
@media (min-width: 61.875em) {
  .features .features-tab .col-text {
    flex-basis: 40%;
    text-align: left;
  }
}
.features .features-tab .col-img::after {
  content: "";
  position: absolute;
  left: -10rem;
  bottom: -4rem;
  width: 120%;
  height: 95%;
  background: hsl(231, 69%, 60%);
  z-index: -1;
  border-top-right-radius: 30% 50%;
  border-bottom-right-radius: 30% 50%;
}

.download {
  padding: 3rem 1.5rem 2rem;
  min-height: 100vh;
}
@media (min-width: 61.875em) {
  .download {
    padding: 8rem 10rem 2rem;
  }
}
.download .download-row {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}
@media (min-width: 61.875em) {
  .download .download-row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0rem;
  }
}
.download .download-row .download-col {
  flex-basis: 100%;
  padding: 2rem 1rem 2rem;
  border-radius: 0.7rem;
  text-align: center;
  box-shadow: 0 0 0.6rem 0 hsla(228, 4%, 22%, 0.322);
}
.download .download-row .download-col p {
  text-align: center;
}
@media (min-width: 61.875em) {
  .download .download-row .download-col {
    flex-basis: 31%;
  }
}
.download .download-row .download-col:nth-child(2) {
  margin-top: 2rem;
}
@media (min-width: 61.875em) {
  .download .download-row .download-col:nth-child(2) {
    margin-top: 4rem;
  }
}
.download .download-row .download-col:nth-child(3) {
  margin-top: 2rem;
}
@media (min-width: 61.875em) {
  .download .download-row .download-col:nth-child(3) {
    margin-top: 8rem;
  }
}

.faq {
  padding: 3rem 1.5rem 4rem;
  text-align: center;
}
@media (min-width: 61.875em) {
  .faq {
    padding: 4rem 23rem;
  }
}
.faq .banner {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.faq .banner li {
  width: 100%;
  list-style: none;
  padding: 1rem 0;
  border-bottom: 1px solid hsl(229, 8%, 60%);
  font-weight: 500;
}
.faq .banner li:nth-child(1) {
  border-top: 1px solid hsl(229, 8%, 60%);
}
.faq .banner li .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.faq .banner li .drop-down-text {
  display: none;
}
.faq .btn {
  display: inline-block;
  margin-top: 2rem;
}

/* This is the only scss file that will be compiled to css. *//*# sourceMappingURL=main.css.map */