@use "base.scss";

header {
  padding: 2.25rem 1.68rem;
  min-height: 100vh;

  @include base.breakpoint(desktop) {
    padding: 2.25rem 7.875rem;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo-bookmark {
      position: relative;
      z-index: 1000;
    }

    .nav {
      display: none;

      @include base.breakpoint(desktop) {
        list-style-type: none;
        display: flex;
      }

      &__item {
        margin-left: 2.25rem;
      }
    }

    .mobile-menu {
      display: block;
      z-index: 1000;
      position: relative;

      @include base.breakpoint(desktop) {
        display: none;
      }
    }
  }

  .header-row {
    margin-top: 2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include base.breakpoint(desktop) {
      flex-direction: row;
    }

    .col-text {
      order: 2;
      flex-basis: 100%;
      margin-top: 1.6875rem;

      @include base.breakpoint(desktop) {
        order: 1;
        flex-basis: 50%;
      }
    }

    .col-img {
      order: 1;
      display: flex;
      align-items: center;
      flex-basis: 100%;
      position: relative;

      img {
        display: block;
        width: 100%;

        @include base.breakpoint(desktop) {
          width: auto;
        }
      }

      @include base.breakpoint(desktop) {
        order: 2;
        flex-basis: 50%;
        justify-content: flex-end;
      }

      &::after {
        content: "";
        position: absolute;
        background: hsl(231, 69%, 60%);
        z-index: -1;
        border-top-left-radius: 30% 50%;
        border-bottom-left-radius: 30% 50%;
        right: -10rem;
        bottom: 0rem;
        width: 100%;
        height: 70%;

        @include base.breakpoint(desktop) {
          right: -10rem;
          bottom: -2rem;
        }
      }
    }
  }
}

.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(229, 31%, 21%, 0.945);
  z-index: 5;
  display: none;

  @include base.breakpoint(desktop) {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .nav:nth-child(1) {
      margin-top: 6.75rem;

      .nav__item {
        margin-bottom: 2.25rem;
      }
    }

    .nav:nth-child(2) {
      margin-top: 6.75rem;
      display: flex;

      .nav__item {
        margin: 0 1.125rem;
      }
    }
  }
}

.features {
  padding: 2.25rem 1.68rem;
  min-height: 100vh;
  position: relative;

  @include base.breakpoint(desktop) {
    padding: 2.25rem 7.875rem;
  }

  .features-controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    @include base.breakpoint(desktop) {
      flex-direction: row;
    }

    .control {
      position: relative;
    }

    .active::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.15rem;
      background: hsl(0, 94%, 66%);
    }
  }

  .features-tab {
    display: flex;
    flex-direction: column;
    gap: 0rem;

    @include base.breakpoint(desktop) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 2rem;
      gap: 2rem;
    }

    .col-img {
      position: relative;
      flex-basis: 100%;
      margin-bottom: 5rem;

      @include base.breakpoint(desktop) {
        flex-basis: 50%;
      }

      img {
        width: 100%;

        @include base.breakpoint(desktop) {
          width: auto;
          max-width: 100%;
          height: auto;
        }
      }
    }

    .col-text {
      flex-basis: 100%;
      text-align: center;

      @include base.breakpoint(desktop) {
        flex-basis: 40%;
        text-align: left;
      }
    }

    .col-img::after {
      content: "";
      position: absolute;
      left: -10rem;
      bottom: -4rem;
      width: 120%;
      height: 95%;
      background: hsl(231, 69%, 60%);
      z-index: -1;
      border-top-right-radius: 30% 50%;
      border-bottom-right-radius: 30% 50%;
    }
  }
}

.download {
  padding: 3rem 1.5rem 2rem;
  min-height: 100vh;

  @include base.breakpoint(desktop) {
    padding: 8rem 10rem 2rem;
  }

  .download-row {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;

    @include base.breakpoint(desktop) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 0rem;
    }

    .download-col {
      p {
        text-align: center;
      }
      flex-basis: 100%;
      padding: 2rem 1rem 2rem;
      border-radius: 0.7rem;
      text-align: center;
      box-shadow: 0 0 0.6rem 0 hsla(228, 4%, 22%, 0.322);

      @include base.breakpoint(desktop) {
        flex-basis: 31%;
      }

      &:nth-child(2) {
        margin-top: 2rem;

        @include base.breakpoint(desktop) {
          margin-top: 4rem;
        }
      }

      &:nth-child(3) {
        margin-top: 2rem;

        @include base.breakpoint(desktop) {
          margin-top: 8rem;
        }
      }
    }
  }
}

.faq {
  padding: 3rem 1.5rem 4rem;
  text-align: center;

  @include base.breakpoint(desktop) {
    padding: 4rem 23rem;
  }

  .banner {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    li {
      width: 100%;
      list-style: none;
      padding: 1rem 0;
      border-bottom: 1px solid hsl(229, 8%, 60%);
      font-weight: 500;

      &:nth-child(1) {
        border-top: 1px solid hsl(229, 8%, 60%);
      }

      .text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
      }

      .drop-down-text {
        display: none;
      }
    }
  }

  .btn {
    display: inline-block;
    margin-top: 2rem;
  }
}

.contact-us {
  background-color: var(--clr-primary-blue);
  padding: 3rem 1.5rem;
  text-align: center;
  color: #fff;

  @include base.breakpoint(desktop) {
    padding: 4rem 7rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    @include base.breakpoint(desktop) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}
