@use "base.scss";

header {
  .nav {
    &__link {
      @include base.breakpoint(desktop) {
        @include base.font(var(--ff-primary), 0.78rem, var(--fw-medium));
        color: var(--clr-neutral-dark-blue);
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        transition: 0.5s;
      }

      &:hover,
      &:focus {
        color: var(--clr-primary-red);
      }
    }

    .btn {
      padding: 0.55rem 1.5rem;
      border-radius: 0.3rem;
      box-shadow: 0 4px 0.3rem 0 rgba(0, 0, 0, 0.247);

      &--red {
        background-color: var(--clr-primary-red);
        color: #fff;
        border: 2px solid var(--clr-primary-red);

        &:hover {
          background-color: #fff;
          color: var(--clr-primary-red);
        }
      }
    }
  }

  .header-row {
    .col-text {
      text-align: center;

      h1 {
        @include base.font(var(--ff-primary), 1.68rem, 700);
        color: var(--clr-neutral-dark-blue);
        line-height: 1.4;
        margin-bottom: 1rem;

        @include base.breakpoint(desktop) {
          @include base.font(var(--ff-primary), 2.8125rem, 700);
          line-height: 1.2;
        }
      }

      p {
        @include base.font(var(--ff-primary), 1rem, var(--ff-primary));
        color: var(--clr-neutral-gr-blue);
        line-height: 1.5;
        margin-bottom: 2rem;
      }

      @include base.breakpoint(desktop) {
        text-align: left;
      }

      &__links {
        display: flex;
        justify-content: center;
        align-items: center;

        @include base.breakpoint(desktop) {
          justify-content: flex-start;
        }
      }

      .btn {
        padding: 0.55rem 1.5rem;
        border-radius: 0.3rem;
        box-shadow: 0 4px 0.3rem 0 rgba(0, 0, 0, 0.247);
        text-decoration: none;
        cursor: pointer;
        transition: 0.5s;
        margin-right: 1rem;
        display: block;
        @include base.font(var(--ff-primary), var(--fs-text), var(--fw-medium));

        &--blue {
          background-color: var(--clr-primary-blue);
          color: #fff;
          border: 2px solid var(--clr-primary-blue);

          &:hover,
          &:focus {
            background-color: #fff;
            color: var(--clr-primary-blue);
          }
        }

        &--white {
          background-color: hsla(165, 17%, 95%, 0.664);
          color: var(--clr-neutral-dark-blue);
          border: 2px solid hsla(165, 17%, 95%, 0.664);

          &:hover,
          &:focus {
            background-color: #fff;
            color: var(--clr-neutral-dark-blue);
            border: 2px solid var(--clr-neutral-dark-blue);
          }
        }
      }
    }
  }
}

.btn {
  @include base.font(var(--ff-primary), var(--fs-text), var(--fw-regular));
  padding: 0.6rem 1.2rem;
  border-radius: 0.3rem;
  text-decoration: none;
  transition: 0.5s;

  &--blue {
    color: hsl(0, 0%, 100%);
    background: hsl(231, 69%, 60%);
    border: 2px solid hsl(231, 69%, 60%);
    &:hover {
      color: hsl(231, 69%, 60%);
      background: hsl(0, 0%, 100%);
    }
  }
}

.mobile-nav {
  nav {
    text-align: center;
    .nav {
      &:nth-child(1) {
        list-style-type: none;

        .nav__link {
          @include base.font(var(--ff-primary), 1.2rem, var(--fw-regular));
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
        }

        .nav__item:nth-child(4) {
          .nav__link {
            border: 2px solid #fff;
            padding: 0.675rem 6.1875rem;
          }
        }
      }

      &:nth-child(2) {
        list-style-type: none;
      }
    }
  }
}

.features {
  h2 {
    @include base.font(var(--ff-primary), var(--fs-heading), 700);
    color: var(--clr-neutral-dark-blue);
    margin-bottom: 0.7rem;
    text-align: center;
  }

  p {
    @include base.font(var(--ff-primary), var(--fs-text), var(--fs-regular));
    color: var(--clr-neutral-gr-blue);
    line-height: 1.5;
    text-align: center;
    margin-bottom: 2rem;
  }

  .features-controller {
    .control {
      color: var(--clr-neutral-dark-blue);
      padding: 1rem 2rem;
      cursor: pointer;
      transition: 0.5s;
      border-bottom: 1px solid hsla(229, 8%, 60%, 0.308);
      margin-bottom: 0;

      &:hover {
        color: hsl(0, 94%, 66%);
      }
    }
  }

  .features-tab {
    .col-text {
      h3 {
        @include base.font(var(--ff-primary), var(--fs-heading), 700);
        color: var(--clr-neutral-dark-blue);
        margin-bottom: 0.7rem;
      }

      p {
        @include base.font(
          var(--ff-primary),
          var(--fs-text),
          var(--fw-regular)
        );
        color: var(--clr-neutral-gr-blue);
        margin-bottom: 2rem;
        line-height: 1.7;

        @include base.breakpoint(desktop) {
          text-align: left;
        }
      }
    }
  }
}

.download {
  h2 {
    @include base.font(var(--ff-primary), var(--fs-heading), 700);
    color: var(--clr-neutral-dark-blue);
    margin-bottom: 0.7rem;
    text-align: center;
  }

  p {
    @include base.font(var(--ff-primary), var(--fs-text), var(--fs-regular));
    color: var(--clr-neutral-gr-blue);
    line-height: 1.5;
    text-align: center;
    margin-bottom: 2rem;
  }

  .download-row {
    img {
      margin-bottom: 1.5rem;
    }

    h3 {
      @include base.font(var(--ff-primary), 1.1rem, 700);
      color: var(--clr-neutral-dark-blue);
      margin-bottom: 0.7rem;

      @include base.breakpoint(desktop) {
        @include base.font(var(--ff-primary), 1.2rem, 700);
      }
    }

    p {
      @include base.font(var(--ff-primary), var(--fs-text), var(--fw-regular));
      color: var(--clr-neutral-gr-blue);
      margin-bottom: 2rem;
      line-height: 1.7;

      @include base.breakpoint(desktop) {
        text-align: left;
      }
    }

    hr {
      margin: 2rem 0 1.5rem;
      border: 0;
      border-bottom: 4px dotted hsl(229, 8%, 60%);
    }
  }
}

.faq {
  h2 {
    @include base.font(var(--ff-primary), var(--fs-heading), 700);
    color: var(--clr-neutral-dark-blue);
    margin-bottom: 0.7rem;
  }

  p {
    @include base.font(var(--ff-primary), var(--fs-text), var(--fw-regular));
    color: var(--clr-neutral-gr-blue);
    line-height: 1.6;

    @include base.breakpoint(desktop) {
      line-height: 1.3;
    }
  }

  .banner {
    .text {
      p {
        @include base.font(var(--ff-primary), var(--fs-text), var(--fw-medium));
        color: var(--clr-dark-gr-blue);
      }
    }

    .drop-down-text {
      p {
        @include base.font(
          var(--ff-primary),
          var(--fs-text),
          var(--fw-regular)
        );
        color: var(--clr-dark-gr-blue);
        text-align: left;
        padding: 1rem 0 0;
        line-height: 1.6;

        @include base.breakpoint(desktop) {
          padding: 1.5rem 0 0.5rem;
        }
      }
    }
  }
}
